<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Platform.Modeler.Properties.Settings.AlquilerVehiculosConnectionString"
            connectionString="Data Source=EQUIPO-ASUS;Initial Catalog=AlquilerVehiculos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>